p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  height: 100%;
  line-height: 1;
  font-family: Montserrat;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1046px;
  margin: 0 auto;
}
